
.experienceDiv {
    display: flex;
    flex-direction: column;
    gap: .4rem;

    .buttonContainer {
        display: flex;
        justify-content: center;
     
        

        button {
            width: 100%;
            height: 2rem;
        }
    }
}