
.experienceDiv {
    display: flex;
    flex-direction: column;
    gap: .4rem;

    justify-content: center;
    align-items: center;


        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            .submitBtn {
                height : 2rem;   
                border-radius: 14px;
        }
        }
        
    
}