
* {
    word-break: break-all;
}

body, html {
    font-family: monospace;
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    background-color: rgb(66, 92, 107);
}

.mainContainer {
    display: flex;
    height: 100%;
  
}